.confirm-dialog-container {
    background-color: #1A1D21;
    color: whitesmoke;
    max-width: 500px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-text {
        p {
            margin: 0;
            text-align: center;
        }
    }

    .button-container {
        margin-top: 2rem;
        display: flex;
        justify-content: center;

        .confirm-button {
            // background-color: rgba(255, 255, 255, 0.2);
            background-color: #40D9E1;
            // color: rgba(255, 255, 255, 0.7);
            color: black;
            width: 135.3px;
        }
    }
}

// === 2560px ===
@media (min-width: 2560px) {
    .confirm-dialog-container {
        width: 850px !important;
        .info-text {
            p {
                font-size: 1.2rem !important;
            }
        }
    }
    
    .button-container {
        button {
            font-size: 1.2rem !important;
        }
    }
}

// === 425px ===
@media (max-width: 425px) {
    .confirm-dialog-container {
        width: unset !important;
    }


    .button-container {
        flex-direction: column;
        align-items: center;
    }
}