.register-container {
    width: 100vw;
    height: 100vh;
    background-color: #10151F;
    padding: 1rem;
    display: flex;

    .register-img-container {
        width: 50%;
        height: 100%;
        border-radius: 26px;
        // background-color: aliceblue;
        background-color: #40D9E1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 600px;
        }
    }

    .register-form-container {
        width: 50%;
        color: #40D9E1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;

        .header {
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 0.7rem;

            span {
                // color: whitesmoke;
                color: rgba(255, 255, 255, 0.7);
                margin-left: 1rem;
                cursor: pointer;
            }
        }

        .header-container {
            text-align: center;

            h1 {
                font-size: 2rem;
                font-weight: 700;
            }

            p {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .form-container {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;

                .register-input {
                    width: 350px;
                    
                    mat-label {
                        font-size: 0.8rem;
                    }
                }

                .sign-in-btn {
                    background-color: #40D9E1;
                    height: 56px;
                    margin-top: 4rem;
                }
                
            }

        }
    }
}

// === 2560px ===
@media (min-width: 2560px) {
    .header {
        font-size: 1.2rem !important;
    }

    .header-container {
        h1 {
            font-size: 3rem !important;
        }

        p {
            font-size: 1.2rem !important;
            margin-top: 2rem !important;
        }
    }

    .register-input {
        width: 450px !important;
        height: 90px !important;


        mat-label {
            font-size: 1.2rem !important;
        }
    }

    .sign-in-btn {
        font-size: 1.2rem;
    }
}