* {
    color: whitesmoke;
}

.channels-container {
    .channels-headline {
        p {
            color: rgba(255, 255, 255, 0.7);
            margin-left: 30.5px;
        }
    }

    .channels-list {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        border-radius: 8px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.08)
        }

        .single-channel {
            margin: 0;
            cursor: pointer;
            width: 100%;
        }
    }

    .material-icons {
        font-size: 20px;
    }

    .mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
    }

    .channels-add {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;

        p {
            margin: 0;
            color: rgba(255, 255, 255, 0.7);
        }
    }
}