<div class="chatroom-container">

    <div class="chatroom-header">
        <div class="channel-name-container">
            <mat-icon>tag</mat-icon>
            <p>{{ channelService.channel.channelName }}</p>
        </div>
        <div class="channel-settings-container">
            <mat-icon [matMenuTriggerFor]="menu">settings</mat-icon>
            <mat-menu #menu="matMenu">
                <button (click)="openDeleteChannelDialog()" mat-menu-item>Delete {{ channelService.channel.channelName }} Channel</button>
            </mat-menu>
        </div>
    </div>

    <div class="chatroom-content">
        <div class="info-container">
            <p>{{ this.authService.getFirstName(authService.user.userName) }}, this is a public channel about <span>{{ channelService.channel.channelName }}</span></p>
            <p>Your message can be read by all members.</p>
            <p>Be the first one to say 'hello'!"</p>
        </div>

        <div *ngFor="let message of messageService.messagesFromDb" class="messages-container">
            <div class="full-message-container">
                <div [style.background-color]="message.authorColor" class="profile-initials-container">
                    {{ authService.getUserInitials(message.author) }}
                    <div class="online-status" [ngClass]="getUserActivityStatus(message.messageFromUserId)"></div>
                </div>
                <div class="message-infos-container">
                    <div class="author-container">
                        <p class="author">{{ message.author }}</p>
                        <p class="time">{{ message.createdAt | date: 'HH:mm' }} Uhr</p>
                    </div>
                    <div class="message-text-container">
                        <p class="message-text"> {{ message.messageText }}</p>
                    </div>
                </div>
                <div [matMenuTriggerFor]="menu" class="message-setting-container">
                    <mat-icon>more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button (click)="openDeleteMessageDialog(message.messageId, message.messageFromUserId)" mat-menu-item>Delete this message</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="message-input-container">
            <form (ngSubmit)="messageService.sendMessage()">
                <div class="textformatting-container"></div>
                <input [(ngModel)]="messageService.message.messageText" name="messageText" type="text"
                    placeholder="Nachricht an # {{ channelService.channel.channelName}}">

                <div class="send-btn-container">
                    <img (click)="messageService.sendMessage()" class="send-icon" src="./assets/img/icons/send-icon.png" alt="">
                </div>
            </form>
        </div>
    </div>
    
</div>