.drawer-container {
    height: 100vh;

    .sidenav {
        width: 300px;
        background-color: #19171D;

        .close-icon-nav {
            display: none;
        }

        .sidenav-header {
            height: 64px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.09);
            color: whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;

            p {
                margin: 0;
            }
        }

        .sidenav-content {
            padding: 1rem;
        }
    }

    .toolbar-container {
        height: 100vh;
        background-color: #1A1D21;
        overflow-y: hidden;

        mat-toolbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #121016;

            mat-icon {
                color: rgba(255, 255, 255, 0.7);
                cursor: pointer;
            }

            .profile {
                display: flex;
                align-items: center;

                .profile-status {
                    color: whitesmoke;
                    font-size: 13px;
                    margin-right: 1rem;
                    border-radius: 12px;
                    padding: 0 1rem;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    p {
                        margin: 0;
                    }
                }

                .profile-container {
                    width: 40px;
                    height: 40px;
                    background-color: orange;
                    border-radius: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    cursor: pointer;
                    position: relative;
                }

                .online-status {
                    position: absolute;
                    bottom: -3px;
                    right: -3px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                }

                .profile-menu {
                    .mat-menu-item {
                        color: whitesmoke;
                    }
                }
            }

            .online {
                background-color: green;
                border: 0.5px solid black;
            }

            .away {
                background-color: orange;
                border: 0.5px solid black;
            }

            .dnd {
                background-color: red;
                border: 0.5px solid black;
            }

            .offline {
                background-color: lightgray;
                border: 0.5px solid black;
            }
        }

        .online-circle {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: green;
        }
    }
}

// === 2560px ===

@media (min-width: 2560px) {

    .sidenav {
        width: 400px !important;

        .sidenav-header {
            height: 85px !important;
            font-size: 1.5rem !important;
        }
    }


    .toolbar-container {
        mat-toolbar {
            height: 85px !important;

            mat-icon {
                font-size: 32px !important;
            }

            .profile-status {
                p {
                    font-size: 1.2rem;
                }
            }

            .profile-container {
                width: 50px !important;
                height: 50px !important;
                font-size: 20px !important;
            }
        }
    }
}


// === 425px ===
@media (max-width: 425px) {
    .sidenav {
        width: 250px !important;
    }

}