<mat-drawer-container class="drawer-container" autosize>

    <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
        <div class="sidenav-header">
            <p>What's up, {{ authService.getFirstName(authService.user.userName) }} ?</p>
        </div>

        <div class="sidenav-content">
            <!-- === Alle erstellten Channels: -->
            <app-channels></app-channels>
            <!-- Alle registrierten User: -->
            <app-users></app-users>
            <!-- Alle DM-Channels: -->
            <app-dm-channels></app-dm-channels>
        </div>
    </mat-drawer>

    <div class="toolbar-container">

        <mat-toolbar>
            <mat-icon (click)="drawer.toggle()">menu</mat-icon>

            <div class="profile">
                <div class="profile-status" (click)="openSetStatusDialog()">
                    <p>{{this.authService.user.userStatusInfo ? this.authService.user.userStatusInfo : 'Status festlegen'}}</p>
                </div>
    
                <div class="profile-container" [style.background-color]="authService.user.userColor" [matMenuTriggerFor]="menu">
                    {{ authService.getUserInitials(authService.user.userName) }}
                    <div class="online-status" [ngClass]="getStatusClass()"></div>
                </div>
            </div>

            <!-- Profile Menu -->
            <mat-menu #menu="matMenu" class="profile-menu">
                <button mat-menu-item [matMenuTriggerFor]="activityStatus">Aktivitätsstatus ändern</button>
                <button mat-menu-item (click)="logout()">logout</button>
            </mat-menu>

            <mat-menu #activityStatus="matMenu">
                <button mat-menu-item (click)="updateStatusToOnline()">online</button>
                <button mat-menu-item (click)="updateStatusToAway()">away</button>
                <button mat-menu-item (click)="updateStatusToDnd()">do not disturb</button>
                <button mat-menu-item (click)="updateStatusToOffline()">offline</button>
            </mat-menu>

        </mat-toolbar>

        <!-- Hier wird die Chatroom Component gerendert: -->
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>