.dm-channel-dialog-container {
    background-color: #1A1D21;
    color: whitesmoke;
    // width: 500px;
    padding: 2rem;

    .close-icon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .dialog-headline {
        h1 {
            margin-bottom: 0.5rem;
            font-weight: 700;
        }
    }

    .dialog-description {
        p {
            margin: 0;
            color: rgba(255, 255, 255, 0.7);
            font-size: 12px;
        }
    }

    .select-user {
        margin-top: 2rem;
        width: 100%;
    }

    .button-container {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;

        .create-button {
            background-color: rgba(255, 255, 255, 0.2);
            color: rgba(255, 255, 255, 0.7);
        }

        .enabled-button {
            background-color: #40D9E1;
            color: black;
        }
    }
}

// === 2560px ===
@media (min-width: 2560px) {
    .dm-channel-dialog-container {
        width: 850px !important;

        .material-icons {
            font-size: 30px !important;
        }

        .dialog-headline {
            h1 {
                font-size: 2rem !important;
                margin-bottom: 2rem;
            }
        }

        .dialog-description {
            p {
                font-size: 1.2rem !important;
            }
        }

        .select-user {
            font-size: 1.2rem !important;

            mat-label {
                font-size: 1.2rem !important;
            }
        }

        .button-container {
            button {
                font-size: 1.2rem !important;
            }
        }
    }
}

// === 600px ===
@media (max-width: 600px) {
    .dialog-headline {
        h1 {
            font-size: 18px !important;
        }
    }
}

@media (max-width: 475px) {
    .dialog-headline {
        h1 {
            max-width: 200px !important;
        }
    }
}