<div class="confirm-dialog-container">
    <div class="info-text">
        <p>Are you sure you want to delete the channel <br><br> <span class="channel-name"># {{ channelService.channel.channelName }}</span> <br></p>
        <br>
        <p>This will permanently delete all files and messages!</p>
    </div>

    <div class="button-container">
        <button class="confirm-button delete-button" mat-raised-button (click)="channelService.deleteChannelFromDb()">Delete</button>
        <button class="confirm-button" mat-raised-button (click)="closeDeleteChannelDialog()">Cancel</button>
    </div>

</div>