.login-container {
    width: 100vw;
    height: 100vh;
    background-color: #10151F;
    padding: 1rem;
    display: flex;

    .login-img-container {
        width: 50%;
        height: 100%;
        border-radius: 26px;
        // background-color: aliceblue;
        background-color: #40D9E1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 600px;
        }
    }

    .login-form-container {
        width: 50%;
        color: #40D9E1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;

        .header {
            position: absolute;
            top: 2rem;
            right: 2rem;
            font-size: 0.7rem;

            span {
                // color: whitesmoke;
                color: rgba(255, 255, 255, 0.7);
                margin-left: 1rem;
                cursor: pointer;
            }
        }

        .header-container {
            text-align: center;

            h1 {
                font-size: 2rem;
                font-weight: 700;
            }

            p {
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .form-container {
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            form {
                display: flex;
                flex-direction: column;

                .login-input {
                    width: 350px;

                    mat-label {
                        font-size: 0.8rem;
                    }
                }

                .recovery-container {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 0.7rem;
                    color: rgba(255, 255, 255, 0.7);
                }

                .sign-in-btn {
                    background-color: #40D9E1;
                    height: 56px;
                    margin-top: 4rem;
                }

            }

            .continue-container {
                display: flex;
                align-items: center;
                height: 56px;
                margin-top: 3rem;
                color: rgba(255, 255, 255, 0.7);

                hr {
                    width: 125px;
                    height: 1px;
                    border-color: rgba(255, 255, 255, 0.1);
                }

                p {
                    margin: 0;
                    padding: 0 1rem;
                }
            }

            .socialmedia-container {
                display: flex;
                width: 350px;
                justify-content: space-around;
                margin-top: 3rem;

                .socialmedia-logo {
                    width: 40px;
                    object-fit: contain;
                }
            }

            .guest-login-container {
                margin-top: 2rem;

                .guest-btn {
                    background-color: #40D9E1;
                }
            }
        }
    }
}

// === 2560px ===

@media (min-width: 2560px) {

    .login-img-container {

        img {
            width: 950px !important;
        }
    }

    .header {
        font-size: 1.2rem !important;
    }

    .header-container {
        h1 {
            font-size: 3rem !important;
        }

        p {
            font-size: 1.2rem !important;
            margin-top: 2rem !important;
        }
    }

    .login-input {
        width: 450px !important;
        height: 90px !important;
        font-size: 1.2rem !important;


        mat-label {
            font-size: 1.2rem !important;
        }
    }

    .sign-in-btn {
        font-size: 1.2rem;
    }

    .continue-container {
        font-size: 1.2rem;
    }

    .guest-login-container {

        button {
            font-size: 1.2rem !important;
            height: 60px;
        }
    }
}

// === 1340px ===
@media (max-width: 1340px) {
    .login-img-container {
        img {
            width: 500px !important;
        }
    }
}

// === 1060px ===
@media (max-width: 1060px) {
    .login-img-container {
        img {
            width: 425px !important;
        }
    }

    .continue-container {
        hr {
            width: 75px !important;
        }
    }
}


// === 900px ===
@media (max-width: 900px) {
    .login-img-container {
        display: none !important;
    }

    .login-container {
        justify-content: center;
    }

    .login-form-container {
        width: unset !important;
    }

    .continue-container {
        hr {
            width: 125px !important;
        }
    }
}



// === 425px ===
@media (max-width: 425px) {
    .login-img-container {
        display: none !important;
    }

    .login-container {
        justify-content: center;
    }

    .login-form-container {
        width: unset !important;
    }

    .continue-container {
        hr {
            width: 50px !important;
        }
    }
}


// === 375px ===
@media (max-width: 375px) {
    .login-input {
        width: 300px !important;
    }
}


// === 320px ===
@media (max-width: 320px) {
    .login-input {
        width: unset !important;
    }

        .continue-container {
        hr {
            width: 35px !important;
        }
    }
}