<div class="channel-dialog-container">

    <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>

    <div class="dialog-healdine">
        <h1>Add Channels</h1>
    </div>

    <div class="dialog-description">
        <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein – #marketing zum
            Beispiel.</p>
    </div>

    <form (ngSubmit)="addChannel()">
        <div class="dialog-input">
            <label>Name</label>
            <input [(ngModel)]="channel.channelName" name="firstName" type="text">
        </div>
    
        <div class="button-container">
            <button [ngClass]="{'enabled-button': channel.channelName !== ''}" [disabled]="channel.channelName === ''" class="create-button" mat-raised-button>Erstellen</button>
        </div>
    
    </form>

    
</div>