/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}


/* unbounded-regular - latin */
@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/unbounded-v3-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../src/assets/fonts/unbounded-v3-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../src/assets/fonts/unbounded-v3-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../src/assets/fonts/unbounded-v3-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../src/assets/fonts/unbounded-v3-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../src/assets/fonts/unbounded-v3-latin-regular.svg#Unbounded') format('svg');
  /* Legacy iOS */
}

/* unbounded-700 - latin */
@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/unbounded-v3-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../src/assets/fonts/unbounded-v3-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../src/assets/fonts/unbounded-v3-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../src/assets/fonts/unbounded-v3-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../src/assets/fonts/unbounded-v3-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../src/assets/fonts/unbounded-v3-latin-700.svg#Unbounded') format('svg');
  /* Legacy iOS */
}


/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/montserrat-v25-latin-regular.eot');
  /* IE9 Compat Modes */
  src: url('../src/assets/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../src/assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../src/assets/fonts/montserrat-v25-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../src/assets/fonts/montserrat-v25-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../src/assets/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/montserrat-v25-latin-700.eot');
  /* IE9 Compat Modes */
  src: url('../src/assets/fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../src/assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../src/assets/fonts/montserrat-v25-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../src/assets/fonts/montserrat-v25-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../src/assets/fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

// === Mat-Menu Styles ===

.mat-mdc-menu-content {
  background-color: #232529;
}

.mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text {
  color: whitesmoke;
}

.mat-mdc-menu-submenu-icon {
  color: whitesmoke;
}

.mat-mdc-menu-item:hover:not([disabled]) {
  background-color: rgba(255, 255, 255, 0.05)
}

// === Router Link Styles ===

.active-link {
  background-color: #06a4ac;
  color: black !important;
}

// === Profile-initials Container ===
.profile-initials-container {
  width: 35px;
  height: 35px;
  background-color: orange;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: black !important;
  margin-right: 1rem;
  cursor: pointer;
  position: relative;

  .online-status {
      position: absolute;
      bottom: -3px;
      right: -3px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
  }

  .online {
      background-color: green;
      border: 0.5px solid black;
  }

  .away {
      background-color: orange;
      border: 0.5px solid black;
  }

  .dnd {
      background-color: red;
      border: 0.5px solid black;
  }

  .offline {
      background-color: lightgray;
      border: 0.5px solid black;
  }
}