<div class="dm-channels-container">
    <div class="dm-channels-headline">
        <p>Directmessages</p>
    </div>

    <div *ngFor="let channel of allDmChannels" class="dm-channels-list">

        <div [style.background-color]="getUserColorById(channel.otherUserId)" class="profile-initials-container">
            {{ getUserInitialsById(channel.otherUserId) }}
            <div [ngClass]="getUserActivityStatusById(channel.otherUserId)" class="online-status"></div>
        </div>

        <div  class="single-channel-container" [routerLink]="['dm-chatroom/' + channel.dmChannelId]">
            <p>{{ getUsernameById(channel.otherUserId) }}</p>
        </div>

        <div class="user-status-info"> {{ getStatusEmojiById(channel.otherUserId) }}</div>
    </div>

    
    <div (click)="openAddDmChannelDialog()" class="dm-channel-add">
        <mat-icon>add</mat-icon>
        <p>New Directmessage</p>
    </div>

</div>