* {
    color: whitesmoke;
}

.dm-channels-container {
    margin-top: 2rem;

    .dm-channels-headline {
        p {
            color: rgba(255, 255, 255, 0.7);
            margin-left: 30.5px;
        }
    }

    .dm-channels-list {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        border-radius: 8px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.08)
        }

        p {
            margin: 0;
        }

        .profile-initials-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            color: black;
            border-radius: 6px;
            margin-right: 0.5rem;
            font-size: 11px;
            position: relative;
        }

        .online-status {
            position: absolute;
            bottom: -2px;
            right: -11px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 0.5rem;
        }

        .online {
            background-color: green;
            border: 0.5px solid black;
        }

        .away {
            background-color: orange;
            border: 0.5px solid black;
        }

        .dnd {
            background-color: red;
            border: 0.5px solid black;
        }

        .offline {
            background-color: lightgray;
            border: 0.5px solid black;
        }
    }

    .material-icons {
        font-size: 20px;
    }

    .mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.5rem;
    }

    .dm-channel-add {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;

        p {
            margin: 0;
            color: rgba(255, 255, 255, 0.7);
        }
    }
}