.set-status-container {
    background-color: #1A1D21;
    padding: 2rem;
    color: #f5f5f5;
    width: 350px;
    display: flex;
    flex-direction: column;

    .headline {
        margin: 0;
        // font-size: 16px;
    }

    .status-input-container {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .status-input {
            width: 100%;
            height: 35px;
            background-color: #1A1D21;
            color: rgba(255, 255, 255, 0.7);
            border: 1px solid rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            padding: 0 0.5rem;

            &:focus {
                border-color: #40D9E1;
                outline: none; // entfernt die standardmäßige Kontur
                box-shadow: 0 0 0 1px #40D9E1, 0 0 10px rgba(64, 217, 225, 0.5)
            }
        }

        .emoji-icon {
            filter: invert(100%) sepia(77%) saturate(109%) hue-rotate(231deg) brightness(116%) contrast(92%);
            position: absolute;
            width: 20px;
            height: 20px;
            right: 1rem;
            cursor: pointer;
        }
    }

    .pick-status-container {
        margin-top: 2rem;

        p {
            color: rgba(255, 255, 255, 0.7);
            font-size: 13px;
        }
    }

    .select-status-container {
        p {
            font-size: 13px;
            margin-top: 0.5rem;
            cursor: pointer;
        }

        .delete-status-container {
            margin-top: 1rem;

            .delete-status {
                color: firebrick;
                font-weight: 700;
            }
        }


    }

    .button-container {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;

        .confirm-button {
            background-color: rgba(0, 0, 0, 0.3);
            color: whitesmoke;
            width: 135.3px;
            border: 1px solid whitesmoke;
        }

        .save-button {
            // background-color: #40D9E1;
            // color: black;
            margin-left: 2rem;
            border: none;
            background-color: rgba(255, 255, 255, 0.2);
            color: rgba(255, 255, 255, 0.7);
        }


        .enabled-button {
            background-color: #40d9e1;
            color: black;
        }
    }

    .container {
        display: grid;
        grid-template-columns: 100% 0%;
        width: 36%;

        button {
            background: transparent;
            border: 0;
            transform: translateX(-40px);
            cursor: pointer;

            &:focus {
                outline: 0;
            }
        }
    }
}

// === 2560px ===
@media (min-width: 2560px) {
    .set-status-container {
        width: 415px !important;

        .headline {
            font-size: 2rem !important;
        }

        .status-input-container {
            margin-top: 2rem !important;

            input {
                font-size: 1.2rem !important;
                height: 55px !important;
            }
        }

        .pick-status-container {
            margin-top: 2.5rem !important;

            p {
                font-size: 1.2rem !important;
            }
        }

        .select-status-container {
            margin-top: 1rem !important;

            p {
                font-size: 1.2rem !important;
                margin-top: 1rem !important;
            }
        }

        .delete-status-container {
            margin-top: 1.5rem !important;
        }

        .button-container {
            justify-content: center;

            button {
                font-size: 1.2rem !important;
                width: unset !important;
                height: 50px !important;
            }
        }
    }
}