<div class="confirm-dialog-container">
    <div class="info-text">
        <p>Are you sure you want to delete this private conversation?</p>
        <br>
        <p>This will permanently delete all files and messages!</p>
    </div>

    <div class="button-container">
        <button class="confirm-button delete-button" mat-raised-button (click)="dmChannelService.deleteDmChannelFromDb()">Delete</button>
        <button class="confirm-button" mat-raised-button (click)="closeDeleteDmChannelDialog()">Cancel</button>
    </div>

</div>